*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    max-width: 100%;
    
}
:root{
    --main-color: #864d25;
    --second-color:#8f6243;
    --bg-color:#000000;
    --text-color:#fff;
}
/* Start Header  */

.header{
 background-color:var(--bg-color); 
 color: var(--text-color);
 height: 10vh;
z-index: 100;
width: 100%;
}
.header .image{
    max-width: 80px;
    padding: 10px 10px;
    /* Anima */
}
.header .toggle-menu {
    display: none;
    background: none;
    float: right;
    border: none;
    width: 40px;
    cursor: pointer;
    position: relative;
    top: -50px;
  
    
    }
    .header .toggle-menu span{
        display: block;
        background-color: var(--text-color);
        height: 3px;
        margin-bottom:5px;
    }
    .header .toggle-menu.active::before{
        content:" ";
        border-width:10px ;
        border-style: solid;
        border-color: transparent transparent var(--text-color) transparent;
        position: absolute;
        bottom: -13px;
        left: 5px;
    }
    .header .navbar{
        text-align: right;
margin-top: -70px;
margin-right: 10px;
    }
 .header .navbar a{
    justify-content: center;
    margin-top: -50px;
    margin: 0 10px;
    font-size: 18px;
    text-transform: capitalize;
    display: inline-block;
    text-decoration: none;
   margin: 0 8px;
   color: var(--text-color);
}
   




.header .navbar  a:hover,.header  a.active {
    color: var(--main-color);
}
.header .navbar  button{
    width: 70px;
    background-color: var(--main-color);
    color: var(--text-color);
    border: 1px solid var(--main-color);
    border-radius: 40px;
font-size: 15px;
font-weight: 600;
text-transform: uppercase;
}
.header .navbar  button:hover{
background-color: var(--text-color);
color: var(--main-color);
cursor: pointer;

}

@media (max-width:570px){
  .header .navbar {
    display: none;
}
.header .navbar.open{
    background:var(--text-color);
    padding: 20px;
 display: block;
 position: absolute;
 left: 15px;
 top:139px;
 width: 95%;
 border-radius: 4px;

}
.header .navbar.open a{
   display: block;
   margin: 10px;
   color: var(--main-color);
   font-weight: bold;
   
  
}
.header .toggle-menu{
   display: inline-block;
   margin-top: -9px;
   margin-right: 10px;
}

}
/* End Header  */

    /* Start Home Section */
.home {
 background-color:var(--bg-color); 
    color: var(--text-color);
    text-align: center;
    height:100vh;

}
.home .home-content{
width: 50%;
font-size: 20px;
line-height: 30px;
padding-top: 150px;
margin-left: 40px;
}
.home .home-content h2{
text-transform: uppercase;
font-weight: bold;
}
.home .home-content p{
    letter-spacing:1px;
    text-wrap:wrap ;
    }
    .home  button{
        width: 150px;
        background-color: var(--main-color);
        color: var(--text-color);
        border: 1px solid var(--main-color);
        border-radius: 40px;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        margin-top: 30px;
    }
    .home button:hover{
        background-color: var(--text-color);
        color: var(--main-color);
        cursor: pointer;
        
        }
    .home .home-img{
        max-width: 45%;
        margin-top:-200px;
        float:right;
    }
    /* End Home Section */
    /* Start About Section */
    .about{
        margin-top: 100px;
       margin-left: 50px;
    }
    .about .about-content{
        width: 300px;
        margin-top: 200px;
    }
    .about .about-content h2{
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 20px;
    }.about .about-content p{ 
        font-size: 20px;
        line-height: 30px;
    }
    .about .about-img img{
        width: 300px;
        float: right;
        margin-top: -150px;
    }
    /* End About Section */
    /* Start Menu Section  */
    .menu{
   margin-top: 200px;
   background-color: var(--main-color);
text-align: center;
justify-content: center;
    }
   .menu .menu-container{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr ));
        grid-gap: 20px;
        margin-top: 80px;
    
    }
    .menu .card{
    
        background-color: var(--second-color);
        padding-top: 10px;
        border: 10px solid var(--main-color);
        border-radius: 40px;
    }
    .menu .card img{
        width:50%;
        height: 120px;
    }
    .menu .menu-container  .info{
        width:300px;
    }

    .menu .menu-container  .info h3{
font-size: 15px;
font-weight: 600;

    }
    .menu .menu-container .info p{
font-size: 12px;
    }
    .menu .menu-container .info span{
     height: 50vh;
        color:rgb(77, 230, 230);
        font-weight: 800;
    }
    .menu button{
            width: 150px;
            background-color: var(--text-color);
            color: var(--main-color);
            border: 1px solid var(--text-color);
            border-radius: 40px;
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
         margin: 20px ;
          
        }
        .menu button:hover{
            background-color:var(--main-color);
            color:  var(--text-color);
            cursor: pointer;
            }
            
    
    /* End Menu Section  */
 /*  Start Contact Us Section  */

    .contact {
background-color: var(--bg-color);
margin-top: 50px;
color: var(--text-color);
    }
    .contact .contact-content{
         justify-content: center;
        margin: 10px;
    }
    .contact .contact-content h3{
        margin-bottom: 10px;
        font-size: 20px;
    }
    .contact .contact-content p{
        margin-bottom: 10px;
        font-size: 18px;
    }
    .contact .social{
        font-size: 18px;

    }
    .contact .social i{
        font-size: 18px;
        color: var(--main-color);
        cursor: pointer;
    padding: 0 5px;
    transition: .3s;
    }
    .contact .social i:hover{
        background-color: var(--main-color);
        color: var(--bg-color);
        font-size: 20px;
        border-radius: 50%;
    }
 /*  End Contact Us Section  */
 /* Start Footer Section */
    .footer{
        width: 100%;
        text-align: center;
        margin: 20px 0;
        background-color: var(--second-color);
    }
 /* End Footer Section */


